%h1 Listing students
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Student ID
      -#%th Subject
      -#%th Class
      %th Grade
      %th note
      = form_tag :update_individual, :method=> :put do
          
        - @students.each do |student|
          =fields_for "students[]", student do |f|
            %tbody
              %tr
              = render 'fields', :f => f
        %br
        =check_box_tag id="submitted", value=1, checked=false
        I finished to set grades
        %br
        =submit_tag "Submit" , :id=>"submit"

-#= link_to 'New Student', new_student_path
