%h1 Listing students
%table
  %thead
    %tr
      %th Student ID
      %th Name
      %th Subject
      %th Class
      %th Grade
      %th note
  = form_tag :update_individual, :method=> :put do
    
    - @students.each do |student|
      =fields_for "students[]", student do |f|
        %tbody
          %tr
          = render 'fields', :f => f
          %tr
    Are you finished to set grades?
    =check_box_tag id="submitted", value=1, checked=true
    =submit_tag "Submit" , :id=>"submit"

-#= link_to 'New Student', new_student_path
