=link_to("Add a Teacher", new_teacher_path, html_options = {})
%br
=link_to("Add a Class", new_gclass_path, html_options = {})
%br
=link_to("Add a Subject", new_subject_path, html_options = {})
%br
=link_to("Add a Student", new_student_path, html_options = {})
%br
%br
=link_to("List of Classes", :gclasses, html_options = {})
%br
=link_to("List of Subjects", :subjects, html_options = {})
%br
=link_to("List of Teachers", :teachers, html_options = {})
