.page-header
  %h1 Welcome to Grades Submission System 
  %h3 JCE 2012

.row
  .offset3.span6
    %h3 Please Login
    =form_tag :auth, :method => "post" do
      .fieldset
        
        =label_tag "ID"
        =number_field_tag :user
        
        =label_tag "Password"
        =password_field_tag :Password
      .actions
        =submit_tag "Login"
